.PasswordGeneratorBox {
  width: 30%;
  height: 55%;
  background-color: #1f1f51;
  .Title {
    color: white;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  .PasswordInp {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    input {
      padding: 20px;
      width: 80%;
      background: #14142f;
      border: 0px;
      font-size: 25px;
      color: white;
    }
    img {
      background: white;
      position: absolute;
      right: 7%;
    }
  }
  .Options {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    justify-content: center;
    align-items: flex-end;
    width: 93%;
  }
  .PSLength {
    color: white;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    p {
      font-size: 25px;
    }
    input {
      width: 30px;
      &::placeholder {
        color: black;
      }
    }
  }
  .InpBox {
    display: flex;
    color: white;
    width: 95%;

    justify-content: space-between;
    font-size: 25px;
    p {
      margin: 12px 12px 12px 12px;
    }
  }
  .GetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    button {
      padding: 10px;
      width: 80%;
      background-color: #2c2b76;
      color: white;
      border: 0px;
      font-size: 20px;
      transition: 0.1s ease-in-out;
      &:hover {
        background-color: #242366;
        cursor: pointer;
      }
    }
  }
}
